.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 80px auto;

    .card {
        @include border-card;
        @include box-shadow;

        overflow-y: auto;
        width: 45%;
        height: 400px;
        padding: 20px 40px;

        p {
            font: $fontNormal;
            color: $colorText;
        }
    }
}


//////////////////////////////
/// DARK MODE
//////////////////////////////

.dark-mode .card {
    p {
        color: $colorTextLight;
    }
}